#root {
 background-color: rgb(255, 255, 255);
  width: 100vw;
  margin: 0 auto;
  height: 100vh;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
}

#root::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#root {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.app-container{
  width: 90vw;
}
.wrapper-page-1{
  background-color: rgb(235, 246, 241);
  margin:20px auto 20px;
  min-height: 40vh;
  padding: 20px 10px 20px;
  color: rgb(66, 66, 66);
  border-radius: 20px;
}


.wrapper-page-1 p{
  width: 80%;
  margin: auto;
  text-align: left;
  font-size: 1.3rem;
}

/* .wrapper-page-2{
  background-color: rgb(34, 32, 32);
} */
.wrapper-page-2 div{
  color: rgb(44, 45, 46);
  border-radius: 10px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper-page-2 div h4{
  background-color: rgb(9, 138, 114);
  color:aliceblue;
  padding: 10px;
  border-radius: 5px;
}
.wrapper-page-2 div span{
  text-align: left;
}
